<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MovieRentalApp.Properties.Settings.MovieDbConnectionString"
            connectionString="Data Source=3.237.101.85;Initial Catalog=MovieDb;User ID=sa;Password=Godcomesfirst100"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>